[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
pandas = "*"
loguru = "*"
sqlalchemy = "*"
apscheduler = "*"
requests = "*"
celery = "==5.5.0"

[dev-packages]

[requires]
python_version = "3.8"
